<html>
  <head>
    <title>Sinatra</title>
    <link rel='stylesheet' type='text/css' href='/assets/application.css'>
  </head>
  <body>
    <%= settings.public_folder %>
    <%= yield %>
    <script src='/assets/application.js'></script>
  </body>
</html>